# fleet.yaml
defaultNamespace: PROJECT

namespaceLabels:
  okbtsp.corp/department: OIT
  okbtsp.corp/owner: baranav
  okbtsp.corp/project: PROJECT

name: PROJECT

helm:
  chart: CHART_NAME
  repo: CHART_URL
  version: CHART_VER
  values:
    custom_value: value

kustomize:
  dir: overlays/common

# Кастомизация под кластеры
targetCustomizations:
  # === MANAGEMENT ===
  - name: management
    clusterSelector:
      matchLabels:
        okbtsp.corp/template: rancher-k3s
    helm:
      values:
        emptyvalue: value

  # === PROD ===
  - name: prod
    clusterSelector:
      matchLabels:
        okbtsp.corp/template: talos-vmware
    helm:
      values:
        emptyvalue: value

diff:
  comparePatches:
    - apiVersion: v1
      kind: Secret
      name: NAME
      namespace: NAMESPACE
      operations:
        - { "op": "remove", "path": "/data" }
