# fleet.yaml
defaultNamespace: k8up-backups

namespaceLabels:
  okbtsp.corp/department: OIT
  okbtsp.corp/owner: baranav
  okbtsp.corp/project: k8up-backups

name: k8up-backups

helm:
  chart: k8up
  repo: https://k8up-io.github.io/k8up
  version: 4.8.6
  values:
    timezone: "Europe/Moscow"

kustomize:
  dir: overlays/common

# Кастомизация под кластеры
targetCustomizations:
  # === MANAGEMENT ===
  - name: management
    clusterSelector:
      matchLabels:
        okbtsp.corp/template: rancher-k3s
    helm:
      values:
        emptyvalue: value

  # === PROD ===
  - name: prod
    clusterSelector:
      matchLabels:
        okbtsp.corp/template: talos-vmware
    helm:
      values:
        replicaCount: 3
        tolerations:
          - key: "node-role.kubernetes.io/infra"
            operator: "Equal"
            value: ""
            effect: "NoSchedule"
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: node-role.kubernetes.io/infra
                      operator: In
                      values: [""]
#
# diff:
#
# diff:
#   comparePatches:
#     - apiVersion: v1
#       kind: Secret
#       name: NAME
#       namespace: NAMESPACE
#       operations:
#         - { "op": "remove", "path": "/data" }
